:root {
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.ladybird-list-popover-separator-row {
    background: transparent;
    margin: 0;
    padding: 6px;
}


.ladybird-location-entry progress {
    transition: opacity 200ms var(--ease-out-quad);
}

.ladybird-location-entry:not(.loading) progress {
    opacity: 0;
}


.ladybird-completion-popover {
    margin-top: 4px;
}

.ladybird-completion-popover row:selected {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.ladybird-completion-popover row:hover:not(:selected) {
    background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.ladybird-completion-popover-header {
    font-weight: bold;
    margin: 4px 16px;
}

.ladybird-completion-popover-header.first {
    margin: 16px 16px 4px 16px;
}